.gallery-box{
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
        "item1 item2 item3"
        "item4 item5 item6"
        "item7 item8 item9"
        "item10 item11 item12";
    justify-content: space-around;
    align-items: baseline;
}
.galley-box>div:nth-child(1){
    grid-area: item1;
}
.galley-box>div:nth-child(2){
    grid-area: item2;
}
.galley-box>div:nth-child(3){
    grid-area: item3;
}
.galley-box>div:nth-child(4){
    grid-area: item4;
}
.galley-box>div:nth-child(5){
    grid-area: item5;
}
.galley-box>div:nth-child(6){
    grid-area: item6;
}
.galley-box>div:nth-child(7){
    grid-area: item7;
}
.galley-box>div:nth-child(8){
    grid-area: item8;
}
.galley-box>div:nth-child(9){
    grid-area: item9;
}
.galley-box>div:nth-child(10){
    grid-area: item10;
}
.galley-box>div:nth-child(11){
    grid-area: item11;
}
.galley-box>div:nth-child(12){
    grid-area: item12;
}
.gallery-box img{
    width: 400px;
}
.item{
    padding: 10px;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.item>h1{
    position: absolute;
    transition: .8s;
    bottom: 20px;
    left: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 10px;
    border-radius: 0 50px 50px 0;
    border-left: 3px solid #c4c4c4;
    transform: translateX(-120%);
    font-size: 1.8rem;
}
.item:hover>h1{
    transform: translateX(0);
}
.popup-item{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 80%;
    margin: auto;
    background: rgba(0, 0, 0, 0.6);
}
.overlay{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.container>img{
    height: 100%;
}
.close{
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(255, 255, 255, 0.6);
    font-size: 3vw;
}
.prev-img,.next-img{
    width: 10%;
    font-size: 7vw;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    border: none;
}